# AutoEncoders

**1. Importing the Libraries**

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
# for parallel computations
import torch.nn.parallel
# for optimizer
import torch.optim as optim
# for tools that we use
import torch.utils.data
# for stochastic gradient descent
from torch.autograd import Variable

**2.1. Importing the 'Movies' dataset**

In [2]:
# We won't be using this dataset.
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
movies.head(5)

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

**2.2. Importing the 'Users' dataset**

In [3]:
# We won't be using this dataset.
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users.head(5)

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

**2.3. Importing the 'Ratings' dataset**

In [4]:
# We won't be using this dataset.
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings.head(5)

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

**3. Preparing the training set and the test set**

In [5]:
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')
training_set = np.array(training_set, dtype = 'int')
training_set.shape

(79999, 4)

In [6]:
pd.DataFrame(training_set).head(5)

   0  1  2          3
0  1  2  3  876893171
1  1  3  4  878542960
2  1  4  3  876893119
3  1  5  3  889751712
4  1  7  4  875071561

In [7]:
test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')
test_set = np.array(test_set, dtype = 'int')
test_set.shape

(19999, 4)

In [8]:
pd.DataFrame(test_set).head(5)

   0   1  2          3
0  1  10  3  875693118
1  1  12  5  878542960
2  1  14  5  874965706
3  1  17  3  875073198
4  1  20  4  887431883

**4. Getting the number of users and movies**

In [9]:
number_of_users = int(max(max(training_set[:, 0]), max(test_set[:, 0])))
number_of_movies = int(max(max(training_set[:, 1]), max(test_set[:, 1])))

**5. Coverting the data into a** m(number of the users), n(number of the movies) **matrix**

In [10]:
# because we are going to use Torch library, we won't use numpy 2D array. We'll use list of list.
# one list for each user and the length of the lists are equal to number of all movies.
def convert(data):
    matrix = []
    for user_id in range(1, number_of_users + 1):
        movies_id = data[:, 1] [data[:, 0] == user_id]
        ratings = data[:, 2] [data[:, 0] == user_id]
        user_ratings = np.zeros(number_of_movies)
        user_ratings[movies_id - 1] = ratings
        matrix.append(list(user_ratings))
    return matrix

In [11]:
training_set = convert(training_set)
test_set = convert(test_set)

In [12]:
pd.DataFrame(training_set).head(5)

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.0,3.0,4.0,3.0,3.0,0.0,4.0,1.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**6. Covert data to Torch Tensor**<br> for better efficiency, we're going to convert numpy array to pytorch array (tensor)

In [13]:
training_set = torch.FloatTensor(training_set)
type(training_set)

torch.Tensor

In [14]:
test_set = torch.FloatTensor(test_set)
test_set

tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

**7. Create Neural Network Architecture**

In [15]:
class Stacked_Autoencoders(nn.Module):
    def __init__(self, ):
        super(Stacked_Autoencoders, self).__init__()
        # For encoding         
        # features: movies 
        # Auto encoder => neuron in input layer < number of the hidden layers     
        # number of the hidden layer = 20: detect 20 features
        self.full_connection1 = nn.Linear(number_of_movies, 20)
        # It's Stacked AutoEncoder => we have several hidden layers         
        self.full_connection2 = nn.Linear(20, 10)
        # For decoding    
        self.full_connection3 = nn.Linear(10, 20)
        self.full_connection4 = nn.Linear(20, number_of_movies)
        # you have to do some experiece with type of the activation function, such as relu, sigmoid, etc.
        # Better result with sigmoid
        self.activation = nn.Sigmoid()
        
    
    def forward(self, x):
        x = self.activation(self.full_connection1(x))
        x = self.activation(self.full_connection2(x))
        x = self.activation(self.full_connection3(x))
        # In decoding we don't use activation in autoencoders
        x = self.full_connection4(x)
        return x

In [16]:
stackedAutoEncoder = Stacked_Autoencoders()
criterion = nn.MSELoss()
# we get better result with RMSProp
# decay: reduce learning rate after each epoch
# lr: learning rate
optimizer = optim.RMSprop(stackedAutoEncoder.parameters(), lr = 0.01, weight_decay = 0.5)

**8. Training the SAE**

In [18]:
epochs = 200
for epoch in range(1, epochs + 1):
    train_loss = 0
    counter = 0.
    for user_id in range(number_of_users):
    # Get the input vector features
    # Torch don't accept vector with one dimension as input => add dimension for batch with Variable() and use unsqueeze(index) 
        input = Variable(training_set[user_id]).unsqueeze(0)
        target = input.clone()
        # if user rate a movie or not
        if torch.sum(target.data > 0) > 0:
            output = stackedAutoEncoder.forward(input)
            # we want to make sure that the gradient is computed only with respect to the input, not target => optimize the code
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            # average of the errors for rated movies         
            mean_corrector = number_of_movies/float(torch.sum(target.data > 0) + 1e-10)
            # to find out to decrease or increase the weights
            loss.backward()
            train_loss += np.sqrt(loss.data*mean_corrector)
            counter += 1.
            optimizer.step()
    print('epoch: '+str(epoch)+'loss: '+ str(train_loss/counter))

epoch: 1loss: tensor(1.0198)
epoch: 2loss: tensor(1.0200)
epoch: 3loss: tensor(1.0194)
epoch: 4loss: tensor(1.0189)
epoch: 5loss: tensor(1.0181)
epoch: 6loss: tensor(1.0180)
epoch: 7loss: tensor(1.0176)
epoch: 8loss: tensor(1.0172)
epoch: 9loss: tensor(1.0167)
epoch: 10loss: tensor(1.0169)
epoch: 11loss: tensor(1.0167)
epoch: 12loss: tensor(1.0167)
epoch: 13loss: tensor(1.0165)
epoch: 14loss: tensor(1.0161)
epoch: 15loss: tensor(1.0158)
epoch: 16loss: tensor(1.0160)
epoch: 17loss: tensor(1.0156)
epoch: 18loss: tensor(1.0159)
epoch: 19loss: tensor(1.0157)
epoch: 20loss: tensor(1.0152)
epoch: 21loss: tensor(1.0152)
epoch: 22loss: tensor(1.0132)
epoch: 23loss: tensor(1.0119)
epoch: 24loss: tensor(1.0089)
epoch: 25loss: tensor(1.0094)
epoch: 26loss: tensor(1.0051)
epoch: 27loss: tensor(1.0047)
epoch: 28loss: tensor(1.0009)
epoch: 29loss: tensor(1.0000)
epoch: 30loss: tensor(0.9962)
epoch: 31loss: tensor(0.9945)
epoch: 32loss: tensor(0.9933)
epoch: 33loss: tensor(0.9956)
epoch: 34loss: tensor(0.9906)
epoch: 35loss: tensor(0.9902)
epoch: 36loss: tensor(0.9867)
epoch: 37loss: tensor(0.9846)
epoch: 38loss: tensor(0.9807)
epoch: 39loss: tensor(0.9814)
epoch: 40loss: tensor(0.9768)
epoch: 41loss: tensor(0.9803)
epoch: 42loss: tensor(0.9765)
epoch: 43loss: tensor(0.9743)
epoch: 44loss: tensor(0.9706)
epoch: 45loss: tensor(0.9719)
epoch: 46loss: tensor(0.9695)
epoch: 47loss: tensor(0.9656)
epoch: 48loss: tensor(0.9654)
epoch: 49loss: tensor(0.9621)
epoch: 50loss: tensor(0.9608)
epoch: 51loss: tensor(0.9597)
epoch: 52loss: tensor(0.9582)
epoch: 53loss: tensor(0.9565)
epoch: 54loss: tensor(0.9554)
epoch: 55loss: tensor(0.9557)
epoch: 56loss: tensor(0.9523)
epoch: 57loss: tensor(0.9513)
epoch: 58loss: tensor(0.9504)
epoch: 59loss: tensor(0.9501)
epoch: 60loss: tensor(0.9491)
epoch: 61loss: tensor(0.9489)
epoch: 62loss: tensor(0.9460)
epoch: 63loss: tensor(0.9469)
epoch: 64loss: tensor(0.9448)
epoch: 65loss: tensor(0.9455)
epoch: 66loss: tensor(0.9429)
epoch: 67loss: tensor(0.9443)
epoch: 68loss: tensor(0.9424)
epoch: 69loss: tensor(0.9425)
epoch: 70loss: tensor(0.9408)
epoch: 71loss: tensor(0.9419)
epoch: 72loss: tensor(0.9395)
epoch: 73loss: tensor(0.9407)
epoch: 74loss: tensor(0.9384)
epoch: 75loss: tensor(0.9400)
epoch: 76loss: tensor(0.9375)
epoch: 77loss: tensor(0.9390)
epoch: 78loss: tensor(0.9367)
epoch: 79loss: tensor(0.9379)
epoch: 80loss: tensor(0.9357)
epoch: 81loss: tensor(0.9369)
epoch: 82loss: tensor(0.9347)
epoch: 83loss: tensor(0.9360)
epoch: 84loss: tensor(0.9339)
epoch: 85loss: tensor(0.9350)
epoch: 86loss: tensor(0.9333)
epoch: 87loss: tensor(0.9341)
epoch: 88loss: tensor(0.9324)
epoch: 89loss: tensor(0.9336)
epoch: 90loss: tensor(0.9314)
epoch: 91loss: tensor(0.9325)
epoch: 92loss: tensor(0.9309)
epoch: 93loss: tensor(0.9317)
epoch: 94loss: tensor(0.9302)
epoch: 95loss: tensor(0.9313)
epoch: 96loss: tensor(0.9295)
epoch: 97loss: tensor(0.9308)
epoch: 98loss: tensor(0.9293)
epoch: 99loss: tensor(0.9300)
epoch: 100loss: tensor(0.9283)
epoch: 101loss: tensor(0.9292)
epoch: 102loss: tensor(0.9280)
epoch: 103loss: tensor(0.9284)
epoch: 104loss: tensor(0.9270)
epoch: 105loss: tensor(0.9279)
epoch: 106loss: tensor(0.9265)
epoch: 107loss: tensor(0.9271)
epoch: 108loss: tensor(0.9258)
epoch: 109loss: tensor(0.9263)
epoch: 110loss: tensor(0.9253)
epoch: 111loss: tensor(0.9258)
epoch: 112loss: tensor(0.9246)
epoch: 113loss: tensor(0.9255)
epoch: 114loss: tensor(0.9240)
epoch: 115loss: tensor(0.9251)
epoch: 116loss: tensor(0.9236)
epoch: 117loss: tensor(0.9243)
epoch: 118loss: tensor(0.9230)
epoch: 119loss: tensor(0.9237)
epoch: 120loss: tensor(0.9223)
epoch: 121loss: tensor(0.9231)
epoch: 122loss: tensor(0.9219)
epoch: 123loss: tensor(0.9224)
epoch: 124loss: tensor(0.9212)
epoch: 125loss: tensor(0.9216)
epoch: 126loss: tensor(0.9206)
epoch: 127loss: tensor(0.9212)
epoch: 128loss: tensor(0.9202)
epoch: 129loss: tensor(0.9210)
epoch: 130loss: tensor(0.9195)
epoch: 131loss: tensor(0.9205)
epoch: 132loss: tensor(0.9190)
epoch: 133loss: tensor(0.9199)
epoch: 134loss: tensor(0.9188)
epoch: 135loss: tensor(0.9195)
epoch: 136loss: tensor(0.9183)
epoch: 137loss: tensor(0.9190)
epoch: 138loss: tensor(0.9178)
epoch: 139loss: tensor(0.9186)
epoch: 140loss: tensor(0.9173)
epoch: 141loss: tensor(0.9181)
epoch: 142loss: tensor(0.9169)
epoch: 143loss: tensor(0.9177)
epoch: 144loss: tensor(0.9166)
epoch: 145loss: tensor(0.9173)
epoch: 146loss: tensor(0.9162)
epoch: 147loss: tensor(0.9168)
epoch: 148loss: tensor(0.9158)
epoch: 149loss: tensor(0.9165)
epoch: 150loss: tensor(0.9153)
epoch: 151loss: tensor(0.9161)
epoch: 152loss: tensor(0.9151)
epoch: 153loss: tensor(0.9158)
epoch: 154loss: tensor(0.9145)
epoch: 155loss: tensor(0.9155)
epoch: 156loss: tensor(0.9143)
epoch: 157loss: tensor(0.9150)
epoch: 158loss: tensor(0.9142)
epoch: 159loss: tensor(0.9148)
epoch: 160loss: tensor(0.9138)
epoch: 161loss: tensor(0.9146)
epoch: 162loss: tensor(0.9135)
epoch: 163loss: tensor(0.9142)
epoch: 164loss: tensor(0.9132)
epoch: 165loss: tensor(0.9139)
epoch: 166loss: tensor(0.9129)
epoch: 167loss: tensor(0.9137)
epoch: 168loss: tensor(0.9127)
epoch: 169loss: tensor(0.9131)
epoch: 170loss: tensor(0.9125)
epoch: 171loss: tensor(0.9134)
epoch: 172loss: tensor(0.9121)
epoch: 173loss: tensor(0.9127)
epoch: 174loss: tensor(0.9117)
epoch: 175loss: tensor(0.9123)
epoch: 176loss: tensor(0.9114)
epoch: 177loss: tensor(0.9122)
epoch: 178loss: tensor(0.9112)
epoch: 179loss: tensor(0.9118)
epoch: 180loss: tensor(0.9109)
epoch: 181loss: tensor(0.9115)
epoch: 182loss: tensor(0.9105)
epoch: 183loss: tensor(0.9114)
epoch: 184loss: tensor(0.9102)
epoch: 185loss: tensor(0.9111)
epoch: 186loss: tensor(0.9100)
epoch: 187loss: tensor(0.9108)
epoch: 188loss: tensor(0.9097)
epoch: 189loss: tensor(0.9101)
epoch: 190loss: tensor(0.9095)
epoch: 191loss: tensor(0.9099)
epoch: 192loss: tensor(0.9092)
epoch: 193loss: tensor(0.9097)
epoch: 194loss: tensor(0.9090)
epoch: 195loss: tensor(0.9095)
epoch: 196loss: tensor(0.9087)
epoch: 197loss: tensor(0.9090)
epoch: 198loss: tensor(0.9082)
epoch: 199loss: tensor(0.9086)
epoch: 200loss: tensor(0.9078)

**9. Testing the SAE**

In [21]:
test_loss = 0
counter = 0.
for user_id in range(number_of_users):
    input = Variable(training_set[user_id]).unsqueeze(0)
    target = Variable(test_set[user_id]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        output = stackedAutoEncoder(input)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion(output, target)
        mean_corrector = number_of_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data*mean_corrector)
        counter += 1.
print('test loss: '+str(test_loss/counter))

test loss: tensor(0.9480)