# Data Preprocessing

**1. Imports the Libraries**

In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

**2. Imports the dataset**

In [27]:
dataframe = pd.read_csv('Data.csv')
dataframe

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**3. Get Independent Features**

In [28]:
# X = dataframe.drop(columns=['Purchased'])
X = dataframe.iloc[:, :-1].values
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

**4. Get Dependent Features**

In [29]:
# y = dataframe['Purchased']
y = dataframe.iloc[:, 3].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

**5. Missing Data**

In [30]:
# libraries to take care of missing data
# if Imputer is deprecated use: from sklearn.impute import SimpleImputer
from sklearn.impute import SimpleImputer

In [31]:
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [32]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

**6. Encoding the Independent Variable**

In [33]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [34]:
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(columnTransformer.fit_transform(X), dtype=np.float)
pd.DataFrame(X)

     0    1    2          3             4
0  1.0  0.0  0.0  44.000000  72000.000000
1  0.0  0.0  1.0  27.000000  48000.000000
2  0.0  1.0  0.0  30.000000  54000.000000
3  0.0  0.0  1.0  38.000000  61000.000000
4  0.0  1.0  0.0  40.000000  63777.777778
5  1.0  0.0  0.0  35.000000  58000.000000
6  0.0  0.0  1.0  38.777778  52000.000000
7  1.0  0.0  0.0  48.000000  79000.000000
8  0.0  1.0  0.0  50.000000  83000.000000
9  1.0  0.0  0.0  37.000000  67000.000000

**7. Encoding the Dependent Variable**

In [35]:
labelEncoder_y = LabelEncoder()
y = labelEncoder_y.fit_transform(y)
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

**8. Splitting the dataset into the Training set and Test set**

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)

**8. Feature Scaling**

In [38]:
from sklearn.preprocessing import StandardScaler

In [39]:
sc_X = StandardScaler()
x_train = sc_X.fit_transform(x_train)
# in x_test we remove fit, because we just fit training set
x_test = sc_X.transform(x_test)

In [40]:
# we don't need to feature scaling in y, because this is categorical classification problem
# however we feature scaling on y in regression
pd.DataFrame(x_test, dtype=int)

   0  1  2  3  4
0 -1  2  0 -1  0
1 -1  2  0  1  2